html{
    height: 100%
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #ff00d4, #00b7ff);;
}

h1{
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 5px;
}

div{
    display: flex;
    justify-content: space-around;
}
button{
    font-size: 20px;
    width: 130px;
    height: 25px;
    font-weight: bold;
    border-radius: 5px;
}

input{
    margin-bottom: 15px;
}

label{
    margin-bottom: 5px;
}

a{
    margin-top: 15px;
    color: #000000;
}

label,input{
    display: block;
    width: 300px;
}

label, a{
    font-size: 20px;
    font-weight: bold;
}

.entradaValida{
    background-color: #008000;
}

.entradaInvalida{
    background-color: #FF0000;
}





